<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Treadmill</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href=" ">Treadmill Deals</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href=" ">About</a>
          </li>
            <a class="nav-link" href=" ">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'images/s0.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Treadmill</h3>
            <p>Find the Lowest Price online...</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'images/s1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">

          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'images/s2.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Treadmill Deals</h1>


    <!-- Portfolio Section -->

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3qFT9N2"><img class="card-img-top" src="{% static 'images/t0.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3qFT9N2">Treadmill 3.0HP Folding Running </a>
            </h4>
            <p class="card-text"> Free of Installation: Fully assembled out of the box.
Small And Exquisite: This treadmill is specially designed for bedroom, living room, study, dining room, office, run anytime, anywhere. Foldable design not only helps you easily assembly the treadmill, but also helps you to store/move the treadmill in small space. </p>
        <br/>
         <a href="https://amzn.to/3qFT9N2"class="btn btn-secondary">$1,623.93</a>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2Y0E7oM"><img class="card-img-top" src="{% static 'images/t1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2Y0E7oM">Monitor Heart Rate Test Walking Jogging Machine</a>
            </h4>
            <p class="card-text">  Shock Spring Absorber: Equipped with AI soft shock absorption system, which will absorb most shock. Providing you a healthier and more comfortable running experience, and effectively protects the knee joint.
Small And Exquisite: This treadmill is specially designed for bedroom, living room, study, dining room, office, run anytime, anywhere. </p>
         <a href="https://amzn.to/2Y0E7oM"class="btn btn-secondary">$1,364.98</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3qyjpsu"><img class="card-img-top" src="{% static 'images/t2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3qyjpsu">CffdoiPBJI Folding Ttreadmill, Household Flat Treadmill</a>
            </h4>
            <p class="card-text"> ❥Which bring a better running experience and at the same time protect your knees to the maximum to prevent injury during exercise。
Dual-channel, dual air-cooled, air-cooled dual-channel full-blast technology to make the core of the rapid cooling device, run lasting, long life, an area of ​​only 0.06 square meters, vertical wall, sofa bed flat, easy storage.</p>
          <a href="https://amzn.to/3qyjpsu"class="btn btn-secondary">$1,006.34</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3qJJ4Pb"><img class="card-img-top" src="{% static 'images/t3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3qJJ4Pb">Folding Motorised Treadmill, Portable Gym</a>
            </h4>
            <p class="card-text"> High-density carbon steel material is stable and non-slip, with a safety load of up to 100kg, comfortable running platform, safe and spacious, suitable for family fitness.
Electric treadmill is equipped with clear digital LCD display at the front, allowing you to easily monitor your time, calories, distance, speed and heart rate.The foldable and compact design makes this easy-to-use folding treadmill to be stowed when not in use, covering an area of ​​only 0.2 square meters. </p>
          <a href="https://amzn.to/3qJJ4Pb"class="btn btn-secondary">$909.90</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3qEDzRD"><img class="card-img-top" src="{% static 'images/t4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3qEDzRD">WalkingPad C1 Alloy Version Walking Machine Foldable Indoor Household</a>
            </h4>
            <p class="card-text"> Machine Speed at Your Pace:Autonomous speed control adopted, the machine is suitable for people aged 14 to 60.
            Stability and Durability:Integrated alloy frame with 110 kg/242 lbs load capacity renders the machine durable and safe to use.
            Folding Design:When unfolded, the machine only occupies an area of 0.45 square meters. When folded, just store it under your bed, desk, or couch/sofa.</p>
         <br/>
          <a href="https://amzn.to/3qEDzRD"class="btn btn-secondary">$749.00</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3iEgoUP"><img class="card-img-top" src="{% static 'images/t5.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3iEgoUP">CYQAQ Folding Treadmill Portable Gym Equipment</a>
            </h4>
            <p class="card-text"> [Super powerful Motor]Experience a powerful horsepower motor that is manufactured to be whisper silent with formulated multi-layer shielding. Built-in safety key ensures instant shut off in emergencies.
[Multi-function LCD display and Handrails]Stay motivated and monitor your progress in real time with the built in LCD screen that displays calories burned, distance traveled, time and heart rate when you hold your hands on the chrome sensor equipped handles. </p>
          <a href="https://amzn.to/3iEgoUP"class="btn btn-secondary">$779.99</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "7660-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_linkid = "842de38f5895b7a915812d126927aba4";
amzn_assoc_asins = "B0193V3DJ6,B00OS9R9VW,B01M0L0D90,B07B6H7XBN,B01NCUO4E9,B07JQL9FPD,B07T32YVP4,B06XKXXSFN";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
       <div class="col-lg-6">
    <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "7660-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "My Amazon Picks";
amzn_assoc_linkid = "4fe10f298f0ec506db11ce298b11978e";
amzn_assoc_asins = "B01MPZN4UB,B084Z19CNF,B087J9ZB98,B084Z28JNQ,B08765CRFQ,B07V3GFZGY,B08PJDVK29";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>

    </div>


    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Jogging in your own home has never been easier! We searched all of Amazon.com for the lowest treadmill prices...</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-blcok" target="_blank" href="https://www.amazon.com/gp/search?ie=UTF8&tag=chandra08b-20&linkCode=ur2&linkId=d6b4927cfdfff0559d2afb65c24e6e38&camp=1789&creative=9325&index=sporting&keywords=treadmills">Shop Treadmills On Amazon</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=chandra08b-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Treademill</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
